*, *::before, *::after {
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}


body {
    padding: 0;
    margin: 0; 
    display: flex;
    width: 100vw;
    height: 100vh; 
    justify-content: center; 
    align-items: center;
    background-color:rgb(72, 54, 85);
}

.container {
    width: 800px;
    max-width: 80%; 
    background-color: white;
    border-radius: 5px;
    padding: 10px; 
    box-shadow: 0 0 10px 2px;

}

.btn-grid { 
    display: grid;
    grid-template-columns: repeat (1, auto)
    gap: 10px; 
    margin: 20px 0; 

}

.btn {
    background-color: rgb(72, 54, 85);
    border: 1px solid rgb(46, 35, 55);
    border-radius: 5px; 
    padding: 20px 40px;
    color: white;
    outline: none;
}


.start-btn {
    font-size: 1rem;
    font-weight: bold; 
    padding: 10px 20px;
    background-color: rgb(25, 187, 25);
    border: 1px solid rgb(15, 121, 15);
}

.controls { 
display: flex; 
justify-content: center; 
align-items: center;
}